/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Global */

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
}

.new {
    background-color: gray;
    padding: 30px 10px 10px 40px;
}

.content {
    margin-right: auto;
    margin-left: auto;
}

.global-input {
    border: none;
    width: 320px;
    height: 50px;
    background-color: #000;
    padding: 0px 10px;
    color: #fff;
    text-align: right;
    font-size: 20px;
}

.grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2px 1fr 2px 1fr 2px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;
    text-align: center;
    background-color: #000;
    padding: 0px 10px 10px 10px;
}

.grid-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.grid-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.grid-container > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.grid-container > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.grid-container > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.grid-container > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.grid-container > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.grid-container > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}

.grid-container > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.grid-container > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.grid-container > *:nth-child(11) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}

.grid-container > *:nth-child(12) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
}

.grid-container > *:nth-child(13) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}

.grid-container > *:nth-child(14) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}

.grid-container > *:nth-child(15) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
}

.grid-container > *:nth-child(16) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
}

.grid-container > *:nth-child(17) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
}

.grid-container > *:nth-child(18) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
}

.grid-container > *:nth-child(19) {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
}

.grid-container > *:nth-child(20) {
    -ms-grid-row: 9;
    -ms-grid-column: 7;
}

.child-1 {
    background-color: #d81313;
    color: #fff;
    padding: 30px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
}
.child-2 {
    background-color: rgb(109, 109, 109);
    color: #fff;
    padding: 30px;
}
.child-3 {
    background-color: rgb(109, 109, 109);
    color: #fff;
    padding: 30px;
}
.child-4 {
    background-color: #444;
    color: #fff;
    padding: 30px;
}
.child-5 {
    background-color: #444;
    color: #fff;
    padding: 30px;
}
.child-6 {
    background-color: #444;
    color: #fff;
    padding: 30px;
}
.child-7 {
    background-color: rgb(109, 109, 109);
    color: #fff;
    padding: 30px;
}
.child-8 {
    background-color: #444;
    color: #fff;
    padding: 30px;
}
.child-9 {
    background-color: #444;
    color: #fff;
    padding: 30px;
}
.child-10 {
    background-color: #444;
    color: #fff;
    padding: 30px;
}
.child-11 {
    background-color: rgb(109, 109, 109);
    color: #fff;
    padding: 30px;
}
.child-12 {
    background-color: #444;
    color: #fff;
    padding: 30px;
}
.child-13 {
    background-color: #444;
    color: #fff;
    padding: 30px;
}
.child-14 {
    background-color: #444;
    color: #fff;
    padding: 30px;
}
.child-15 {
    background-color: #444;
    color: #fff;
    padding: 30px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
}
.child-16 {
    background-color: #444;
    color: #fff;
    padding: 30px;
}
.child-17 {
    background-color: rgb(33, 48, 99);
    color: #fff;
    padding: 30px;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
}